## File Handeling

- Read, write operations
- Opening a file at relative path

In [1]:
file = open("corona.txt", "wt")

In [2]:
content = "This file belongs to corona. And this is other content"*100

In [3]:
file.write(content)

5400

In [36]:
len(content)

540000

In [7]:
file.close()

In [8]:
file1 = open("corona.txt", 'r')

In [9]:
file.close()

In [10]:
file.closed

True

In [12]:
file1.close()

In [20]:
rel = open("../Assignments/Assgn1.txt", "r")

In [21]:
rel.read()

'Q1.  From this given string: s = "Hey i am from coding blocks". Find out: length of string, convert this to list using split operation.\n\nQ2.  Given string s = "name is rahul". Write code to give following o/p.\n- "Name is rahul"\n-  "Rame Is Rahul"\n-  "NAME IS RAHUL"\n\nQ3. Using length and breadth as input find out area and perimeter of a given rectangle.\n\nQ4. Using diameter as input find out circumference and area of a circle.\n\nQ5. Write a program to compute roots of a quadratic equation when coefficients a, b and c are known(entered by user).\n\nQ6. Find volume of a sphere using radius as input.\n\nQ7. Count the  number of digits in a number. Example: 3454 has 4 digits.\n\nQ8. Write a program that accepts a string and gives output string with all capital letters.\n\nQ9. Write a program to that accepts a string s, an index number n and a character ‘c’. And outputs the string replaced with the character at the index number n. Example- ‘hello’ , 0 , ‘j’ ==> ‘jello’.\n(Hint2: You can try it by join function too by typecasting it to list)\n\nQ10. Reverse a string. Example: \'Hey there\' = \'ereht yeH\' \n\n '

In [22]:
rel.close()

In [29]:
s = input()
p = ""

for i in s:
    if i == "0":
        p += "5"
    else:
        p += i
        
print(p)

 15000

15555

In [40]:
s = "150000"
p = ""

for i in s:
    if i == "0":
        s = s.replace(i, "5")
print(s)

155555

In [31]:
s = s.replace("0", "5")

In [32]:
s

'15555'

In [53]:
l = [1,1,1,2,2,4,5,6,7,7]

In [54]:
s = []

for i in l:
    if i not in s:
        s.append(i)
        
    else:
        s.remove(i)
        
print(s)

[1, 4, 5, 6]

In [55]:
n = 5

for i in range(5):
    print("#"*n)

#####
#####
#####
#####
#####

## Best way

In [15]:
with open("sample.txt", "wt") as file:
    file.write(content)

In [16]:
file.closed

True

In [56]:
# with open("sample.txt", "r") as file:
#     print(file.read())

In [19]:
file.closed

True

In [57]:
a = 10

b'\n\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

In [71]:
l = ["Manan", "Shivam", "Manvi"]

In [72]:
for i in l:
    print(i)

Manan
Shivam
Manvi

In [80]:
print("Hello","Python","!!","Manan", "Shivam", "Manvi", sep="\n")

Hello
Python
!!
Manan
Shivam
Manvi

In [88]:
Vikas = [2, 3, 15, 20]

In [89]:
gf = Vikas

In [92]:
print(Vikas)
gf

[2, 3, 15, 20]

[2, 3, 15, 20]

In [93]:
id(Vikas)

2273121470984

In [95]:
id(gf) == id(Vikas)

True

In [96]:
gf[0] = 0

In [98]:
gf

[0, 3, 15, 20]

In [112]:
id(gf)

2273121470984

In [101]:
s = "Ayush"

In [108]:
id(s)

2273130588064

In [109]:
s = s.replace("A", "P")

In [110]:
s

'Pyush'

In [111]:
id(s)

2273130677840

In [33]:
l = [1,2,3,4, "Rahul"]

## Mutable

In [2]:
type(l)

list

In [12]:
id(l)

2360965581512

In [13]:
l[0] = "Abhinav"

In [15]:
id(l)

2360965581512

In [5]:
l[len(l)-1]

'Rahul'

In [7]:
len(l)

5

In [11]:
l.index("Rahul")

4

In [34]:
name = "Rahul"
## Immutable

In [28]:
id(name)

2360965592656

In [29]:
type(name)

str

In [30]:
name = name.replace("a", "o")

In [31]:
name

'Rohul'

In [32]:
id(name)

2360969961400

In [58]:
s = "ABC123"

In [62]:
st = ""
nu = ""

for i in s:
    if i.isdigit() == True:
        nu += i

In [63]:
nu

'123'