# Some String Operations First

- split
- join
- replace
- count
- Capitalize
- Title
- len()
- format

In [29]:
s = "hello world"

In [27]:
s1 = s.split()
type(s1)

list

In [28]:
s1

['hello', 'world', 'i', 'am', 'here']

In [20]:
":".join(s1)

'hello:world'

In [11]:
".".join(s)

'h.e.l.l.o. .w.o.r.l.d'

In [30]:
"-".join(s)

'h-e-l-l-o- -w-o-r-l-d'

In [13]:
"1".join(s)

'h1e1l1l1o1 1w1o1r1l1d'

In [14]:
s

'hello world'

In [16]:
s.replace("h", "B")

'Bello world'

In [39]:
s

'hello world'

In [32]:
s.replace("e", "he")

'hhello world'

In [41]:
s.replace("y", "3")

'hello world'

In [38]:
isinstance(3, int)  # "3" this is string, and 3 this is integer

True

In [53]:
len("hello world")

11

In [59]:
s.count("w")

1

In [61]:
s.capitalize()

'Hello world'

In [62]:
s.title()

'Hello World'

In [2]:
# Conventional method

In [115]:
name = "Rahul"
hobby = "Travelling"
age = 26
weight = 65.09876098

In [ ]:
"My name is Rahul. And my age is 26. And i like Travelling"

In [75]:
print("My name is ", name, end=". ")
print("My age is ", age, end=", ")
print("and i like", hobby, ".")

My name is  Rahul. My age is  26, and i like Travelling .

In [99]:
print("My name is %s. My age is %f. And i like %s."%(name, weight, hobby))

My name is Rahul. My age is 65.098761. And i like Travelling.

In [112]:
print("My name is {}. My age is {}. And i like {}.".format(name, name, hobby))
print("My name is {}. My age is {}. And i like {}.".format(name, age, hobby))

My name is Rahul. My age is Rahul. And i like Travelling.
My name is Rahul. My age is 26. And i like Travelling.

In [110]:
s = s.upper()

In [114]:
print("My name is {name}. My age is {age}. And i like {hobby}.")
print(f"My name is {name}. My age is {age}. And i like {hobby}.")

My name is {name}. My age is {age}. And i like {hobby}.
My name is Rahul. My age is 26. And i like Travelling.

In [103]:
line = "My name is {} and my age is {}."

In [105]:
line.format(name, age)

'My name is Rahul and my age is 26.'

In [3]:
# Better way is
# %(string, int, float)

In [4]:
# Best way is
# format method

In [35]:
print(f"Hello my name is {name} and my age is {age}.")

Hello my name is Rahul and my age is 26

In [118]:
# Hurdle Do the square using format method

a = 3

In [119]:
print(f"sqaure of {a} is {a*a}")

sqaure of 3 is 9

# 1. List []

A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list.

The list of items should be enclosed in square brackets so that Python understands that you are specifying a list. Once you have created a list, you can add, remove or search for items in the list. Since we can add and remove items, we say that a list is a mutable data type i.e. this type can be altered.

In [36]:
## Generation of list and sublists

In [155]:
l = [1,2,5,4,3]
s = "df daf f df dfsg fg fg"
a = id(l)

In [133]:
type(l)
len(l)

5

In [142]:
l[-5]

1

In [145]:
s[-22]

'd'

In [149]:
l.index(4)

3

In [158]:
l[0] = "chacha"
id(l) == a

True

In [9]:
# Type, id(), len(), index()

In [159]:
satwik = [2,4,5,6]
gf = satwik

In [163]:
satwik[0] = 0

In [161]:
satwik

[0, 4, 5, 6]

In [162]:
gf

[0, 4, 5, 6]

In [164]:
id(satwik) == id(gf)

True

In [166]:
satwik == gf

True

In [10]:
# identity and quantity
# a is b means they are having same mem address

### Basic operations on list

In [13]:
# Concatenation of two lists, +, mul(*)

In [174]:
s = "Bank balance"
id(s)

2819148417648

In [175]:
s = "Gank balance"
id(s)

2819148416496

In [176]:
[2, 3, 4, 5] + [2,3,45]

[2, 3, 4, 5, 2, 3, 45]

In [178]:
[2,3456,"rinkiya ke papa"] * 2

[2, 3456, 'rinkiya ke papa', 2, 3456, 'rinkiya ke papa']

In [15]:
## Membership check, a in b

In [183]:
"chacha" in l

True

In [182]:
l

['chacha', 2, 5, 4, 3]

In [184]:
2 in l

True

In [16]:
# lists are iterable

In [186]:
fruits = ["Apple", "Mango", "Orange"]

In [187]:
for i in fruits:
    print(i)

Apple
Mango
Orange

In [20]:
# Using len func,iteration

In [189]:
len(l)

5

In [190]:
l

['chacha', 2, 5, 4, 3]

### Indexing and slicing a list

In [191]:
l = [0,1,2,3,4]

In [199]:
l[0:5]

[0, 1, 2, 3, 4]

In [202]:
l[0:5:3]

[0, 3]

In [203]:
l[-1:0:-1]

[4, 3, 2, 1]

In [192]:
l[0]

0

In [193]:
l[-1]

4

In [194]:
len(l)

5

In [23]:
# l[::], reverse order, forward order, jump

### Updating a list
- insert
- append
- extend

In [24]:
l = [0,1,2,3,4]

In [204]:
## Internal structure of list

In [25]:
a = id(l)
print(a)

2332832663304

In [26]:
# append inserts an element in list at end of list

In [27]:
# Insert inserts an element before the given index in a list
# Here only object is updated no new obj is created


#insert(index, element)

In [207]:
s = "name is rahul"
s.upper()

'NAME IS RAHUL'

### Deleting elements in a list
- **pop**  :    removes an element from last index
- **remove** :    Removes an element from given index

In [28]:
# Removes an element the number of times the pop command is executed

In [145]:
l

[0, 1, 2, 3]

### Sorting and reversing
- sort and sorted
- reverse and reversed

In [172]:
l = [2,3,4,5,1]
print(id(l))

3238830453576

In [29]:
# Sorted only sorts a list at runtime and doesnt update the value at memory address.

# sorted(l)

In [30]:
# sort method sorts the list and also updates the value of updated list

In [31]:
# Reversed method doesnt update the value at the memory address

#list(reversed(l))

In [2]:
# reverse method updates the value at memory address

# 2. Tuples
Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you. One major feature of tuples is that they are immutable like strings i.e. you cannot modify tuples.

Tuples are defined by specifying items separated by commas within an optional pair of parentheses.

Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used **will not change**.

In [196]:
t = (1, 2, "Home")

In [197]:
type(t)

tuple

In [4]:
# count, index

In [3]:
# Tuples are iterable too

#### List to tuple and tuple to list..

In [200]:
l = list(t)

In [201]:
l

[1, 2, 'Home']

In [202]:
# Now we can perform all the functions that we could have been applied to a tuple

### But...but I like Lists...

- **Storage** : In CPython, tuples are stored in a single block of memory, so creating a new tuple involves at worst a single call to allocate memory. Lists are allocated in two blocks: the fixed one with all the Python object information and a variable sized block for the data.

- **Indexing** : Tuples are faster than lists. Tuples directly reference their elements where as lists have an extra layer of indirection to an external array of pointers.

- **Safety** : It makes your code safer if you “write-protect” data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that this data is constant, and that special thought (and a specific function) is required to override that

# 3. Dictionary

- A dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e. we associate keys (name) with values (details). Note that the key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.

- Remember that key-value pairs in a dictionary are not ordered in any manner.

#### Some important dict methods

- get()
- items()
- keys()
- values()
- clear()

### And yeah, keys of dict can be any immutable object, so...

sets are coming

### Challenge

Write a simple Python program which inputs and stores the data about university students as a list of dictioaries. Your final record structure should look like this:

 [
     {
         'roll-no': 1211,
         'name': 'Ravi',
         'branch': 'CSE'
     },
     {
         'roll-no': 202,
         'name': 'Abhishek',
         'branch': 'SE'
     },
     {
         'roll-no': 1202,
         'name': 'Sachin',
         'branch': 'IT'
     }
 ]

# 4. Sets

Sets are unordered collections of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occurs.

Using sets, you can test for membership, whether it is a subset of another set, find the intersection between two sets, and so on.